DEBUG=1
SECRET_KEY=dbaa1_i7%*3r9-=z-+_mz4r-!qeed@(-a_r(g@k8jo8y3r27%m
DJANGO_ALLOWED_HOSTS=*

SQL_ENGINE=django.db.backends.postgresql_psycopg2
SQL_DATABASE=tam_database
SQL_USER=doadmin
SQL_PASSWORD=admin
SQL_HOST=localhost
SQL_PORT=5432
UVICORN_NUMBER_THREADS=
UVICORN_NUMBER_WORKER=
AWS_S3_ENDPOINT_URL=https://storage.vn
AWS_ACCESS_KEY_ID=ABCDEFGHIJKLMNOPQRST
AWS_SECRET_ACCESS_KEY=1234567890
AWS_STORAGE_BUCKET_NAME=TAM_LUXURY
AWS_S3_REGION_NAME=
CI_REGISTRY=gitlab.com
CI_COMMIT_TIMESTAMP=2025-04-03T10:34:29+00:00
CI_COMMIT_SHA=123
URL_ROOT=tam_luxury
SENTRY_DSN=